#workspace {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* LEFT PANEL */
#leftPanel {
    width: 200px;
    background: var(--panel);
    padding: 10px;
}

/* CANVAS AREA */
#canvasWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
}

/* RIGHT PANEL */
#rightPanel {
    width: 260px;
    background: var(--panel);
    padding: 10px;
}

input, select {
    background: #2a2a2a;
    border: 1px solid #444;
    color: white;
    padding: 6px;
    border-radius: 6px;
    outline: none;
    transition: 0.2s;
}

input:focus, select:focus {
    border-color: var(--primary);
    box-shadow: 0 0 10px rgba(0,183,255,0.4);
}
