#topMenu {
    display: flex;
    background: #111;
    padding: 8px;
    border-bottom: 1px solid #333;
}

.menuItem {
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}

.menuItem:hover {
    color: var(--primary);
}
