body { background-color: #202124; color: #fff; font-family: sans-serif; padding: 20px; }
.item { border-bottom: 1px solid #444; padding: 10px; }
a { color: #8ab4f8; text-decoration: none; display: block; }
#search { width: 100%; padding: 10px; margin-bottom: 20px; background: #303134; color: white; border: none; }
